<div class="nes-field">
  <label for="group_name">Name</label>
  <input type="text"
         id="group_name"
         class="nes-input"
         value="{{ map_group.name }}">
</div>
<div class="nes-field">
  <label for="description">Description</label>
  <input type="text"
         id="description"
         class="nes-input"
         value="{{ map_group.description }}">
</div>
<div class="nes-field">
  <label for="grant">Required Grant (empty for public access, does not propagate to children)</label>
  <input type="text"
         id="grant"
         class="nes-input"
         value="{{ map_group.grant or "" }}">
</div>
<button type="submit"
        class="nes-btn is-success"
        hx-post="{{ base_url }}/current/groups/edit/{{ map_group.id }}"
        hx-ext="json-enc"
        hx-vals='js:{"description": description.value, "grant": grant.value, "group_name": group_name.value}'
        style="margin-top:1em">Submit</button>
