<html>

<head>
  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <title>Simons Observatory Map Viewer Management</title>
  <link
	href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap"
	rel="stylesheet">
  <style>
	section {
	  margin-bottom: 1em;
	}

	.buttonholder {
	  margin-right: 1em;
	  margin-bottom: 0em;
	}
  </style>
</head>

<body>
  <main style="padding-bottom:8em">
	<div class="nes-container">
	  <h1 style="color:#F15A29">Simons Observatory</h1>
	  <h3>Map Viewer Management Service</h3>
	  {% block content %}
	  <p>If you are seeing this, there is a rendering error.</p>
	  {% endblock %}
	</div>
  </main>
  <footer class="page-footer" style="position:fixed;bottom:0;width:100%">
	{% block extrafooter %}{% endblock %}
	<div class="nes-container with-title is-dark">
	  <p class="title">{{user.display_name if user.display_name else "Login Here" }}</p>
	  <div style="display:flex;justify-content:flex-start">
		{% if user.is_authenticated %}
		<section class="buttonholder">
		  <button type="button" class="nes-btn is-primary" onclick="location.href='{{current_url}}'">Current</button>
		</section>
		<section class="buttonholder">
		  <button type="button" class="nes-btn is-success" onclick="location.href='{{add_url}}'">Add</button>
		</section>
		<section class="buttonholder">
		  <button type="button" class="nes-btn is-warning" onclick="location.href='{{flow_url}}'">Flows</button>
		</section>
		{% else %}
		<section class="buttonholder">
		  <button type="button" class="nes-btn is-primary" onclick="location.href='{{login_url}}'">Login</button>
		</section>
		{% endif %}
	  </div>
	</div>
  </footer>
</body>
</html>