{% extends "base.html" %}
{% block content %}
  <section>
    <div class="nes-container with-title">
      <p class="title">Manage Currently Loaded Maps</p>
      <p>
        This page allows you to manage currently loaded maps. Click on each map group to
        load the maps, layers, and bands that are loaded to view or remove them.
      </p>
    </div>
  </section>
  {% for map_group in map_groups %}
    <section>
      <div class="nes-container">
        <h3>{{ map_group.name }}</h3>
        <p>
          {% if map_group.grant %}
            <span class="nes-text is-error">Requires</span> {{ map_group.grant }}
          {% else %}
            <span class="nes-text is-success">Public, no grant required</span>
          {% endif %}
        </p>
        <button class="nes-btn is-error"
                hx-delete="{{ base_url }}/current/groups/{{ map_group.id }}"
                hx-swap="delete"
                hx-target="closest .nes-container"
                hx-confirm="Are you sure you wish to delete map group {{ map_group.name }}?">Delete</button>
        <button class="nes-btn is-success"
                hx-get="{{ base_url }}/current/maps/{{ map_group.id }}"
                hx-trigger="click"
                hx-swap="outerHTML">Maps</button>
        <button class="nes-btn is-warning"
                hx-get="{{ base_url }}/current/groups/edit/{{ map_group.id }}"
                hx-trigger="click"
                hx-target="closest .nes-container"
                hx-swap="innerHTML">Edit</button>
      </div>
    </section>
  {% endfor %}
  <section>
    <div class="nes-container with-title" id="new-form">
      <p class="title">Add New Map Group</p>
      <div class="nes-field">
        <label for="name_field">Name</label>
        <input type="text" id="name_field" class="nes-input">
      </div>
      <div class="nes-field">
        <label for="desc_field">Description</label>
        <input type="text" id="desc_field" class="nes-input">
      </div>
      <div class="nes-field">
        <label for="grant_field">Required Grant</label>
        <input type="text"
               id="grant_field"
               class="nes-input"
               value="{{ default_required_grant }}">
      </div>
      <button class="nes-btn is-success"
              style="margin-top:1em"
              hx-post="{{ base_url }}/add/groups"
              hx-vals='js:{"name":name_field.value, "description":desc_field.value, "grant":grant_field.value}'
              hx-ext="json-enc">Create</button>
    </div>
  </section>
{% endblock %}
